<div class="menu-icons">
  <h1>Explora as opções de Restaurantes perto de ti</h1>
  <div class="rouded-box">
    <a href="#" class="rounded">
      <%= image_tag 'restaurante-1.png', alt:"restaurant icon" %>
      <span>Portuguesa</span>
    </a>
    <a class="rounded">
      <%= image_tag 'restaurante-2.png', alt:"restaurant icon" %>
      <span>Árabe</span>
    </a>
    <a class="rounded">
      <%= image_tag 'restaurante-3.png', alt:"restaurant icon" %>
      <span>Italiana</span>
    </a>
  </div>
</div>
