<%= link_to 'Back', restaurants_path, class:"back-button" %>
<div class="card_box">
  <h1>Editing Restaurant</h1>
  <div class="card_form">
    <%= render 'form', restaurant: @restaurant %>
  </div>
</div>
