body {
  background-color: #fff;
  color: #333;}

body, p, ol, ul, td {
  font-family: "Gotham","Arial","Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  line-height: 18px;}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 1s;
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

/* The alert message box */
.notify {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;
  padding: 0 20px;
  margin-top: 15px;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */

  border-radius: 10px;
  position: absolute;
  z-index: 99;
}
.alert {
  background-color: #f44336e8; }

.notice {
  background-color: rgba(0, 128, 0, 0.795); }

/* The close button */
.closebtn {
  color: white;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

a.back-button {
  width: 60px;
  height: 60px;
  border: rgba(0, 0, 0, 0.158) solid 1px;
  align-self: flex-start;
  border-radius: 5px;
}